@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Raleway;
  src: url(../assets/fonts/Raleway-Regular.ttf);
}

/* black mode */
@font-face {
  font-family: Raleway;
  src: url(../assets/fonts/Raleway-Black.ttf);
  font-weight: bold;
}

.select-filtro-sistemas {
  width: 180px;
  margin: 10px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 10px;
  font-family: Raleway;
  font-size: 14px;
  color: #000;
  background: #fff;
  margin-bottom: 10px;
}

.select-filtro-sistemas option {
  font-family: Raleway;
  font-size: 14px;
  color: #000;
  background: #fff;
  margin: 10px;
}

.even {
  background-color: #f2f2f2;
}

.prevImage {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
